<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.user.mapper.ext.UserAddressMapper">

    <select id="selectByUserIdAndAddressId"
            resultMap="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.Base_Column_List"/>
        from user_addresses
        where id = #{addressId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserId" resultMap="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.Base_Column_List"/>
        from user_addresses
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByUserIdAndAddressId">
        delete from user_addresses
        where id = #{addressId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </delete>

    <update id="updateIsDefaultByUserIdAndAddressId">
        update user_addresses
        set is_default = #{isDefault,jdbcType=INTEGER}
        where id = #{addressId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <select id="selectByUserIdAndIsDefault"
            resultMap="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.user.mapper.mbg.UserAddressMapper.Base_Column_List"/>
        from user_addresses
        where user_id = #{userId,jdbcType=VARCHAR} and is_default = #{isDefault,jdbcType=INTEGER}
    </select>
</mapper>