<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.dao.mapper.ext.CarouselMapper">

    <select id="selectByIsShow" resultMap="com.sciatta.openmall.dao.mapper.mbg.CarouselMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.dao.mapper.mbg.CarouselMapper.Base_Column_List"/>
        from carousels
        where is_show = #{isShow,jdbcType=INTEGER} order by sort desc
    </select>

</mapper>