<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.dao.mapper.ext.ItemSpecMapper">

    <select id="selectByItemId" resultMap="com.sciatta.openmall.dao.mapper.mbg.ItemSpecMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.dao.mapper.mbg.ItemSpecMapper.Base_Column_List"/>
        from item_specs
        where item_id = #{itemId,jdbcType=VARCHAR}
    </select>

    <update id="decreaseItemSpecStock">
        update item_specs
        set stock = stock - #{pendingCounts,jdbcType=INTEGER}
        where
        id = #{id,jdbcType=VARCHAR}
        and
        stock >= #{pendingCounts,jdbcType=INTEGER}
    </update>
</mapper>