<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.dao.mapper.ext.OrderStatusMapper">
    <resultMap id="BaseResultMap" type="com.sciatta.openmall.dao.pojo.po.mbg.OrderStatus">
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime"/>
        <result column="success_time" jdbcType="TIMESTAMP" property="successTime"/>
        <result column="close_time" jdbcType="TIMESTAMP" property="closeTime"/>
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id, order_status, created_time, pay_time, deliver_time, success_time, close_time,
        comment_time
    </sql>

    <select id="selectOrderStatusCounts"
            parameterType="com.sciatta.openmall.dao.pojo.query.OrderStatusCountsDaoQuery" resultType="Integer">
        SELECT count(1) FROM orders o
        LEFT JOIN order_statuses os on o.id = os.order_id
        WHERE o.user_id = #{userId,jdbcType=VARCHAR} AND os.order_status = #{orderStatus,jdbcType=INTEGER}
        <if test="isComment != null">
            and o.is_comment = #{isComment,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectOrderStatus" parameterType="com.sciatta.openmall.dao.pojo.query.OrderStatusDaoQuery"
            resultType="com.sciatta.openmall.dao.pojo.po.mbg.OrderStatus">
        SELECT
        os.order_id as orderId,
        os.order_status as orderStatus,
        os.created_time as createdTime,
        os.pay_time as payTime,
        os.deliver_time as deliverTime,
        os.success_time as successTime,
        os.close_time as closeTime,
        os.comment_time as commentTime
        FROM orders o
        LEFT JOIN order_statuses os on o.id = os.order_id
        WHERE
        o.user_id = #{userId,jdbcType=VARCHAR}
        <if test="isDelete != null">
            AND o.is_delete = #{isDelete,jdbcType=INTEGER}
        </if>
        <if test="orderStatuses != null and orderStatuses.size() > 0">
            AND os.order_status IN
            <foreach collection="orderStatuses" index="index" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>
        ORDER BY os.order_id DESC
    </select>

</mapper>