<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.dao.mapper.ext.OrderMapper">

    <select id="selectByOrderIdAndUserId" resultMap="com.sciatta.openmall.dao.mapper.mbg.OrderMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.dao.mapper.mbg.OrderMapper.Base_Column_List"/>
        from orders
        where id = #{orderId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <update id="updateByPrimaryKeyAndUserIdSelective">
        update orders
        <set>
            <if test="order.userId != null">
                user_id = #{order.userId,jdbcType=VARCHAR},
            </if>
            <if test="order.receiverName != null">
                receiver_name = #{order.receiverName,jdbcType=VARCHAR},
            </if>
            <if test="order.receiverMobile != null">
                receiver_mobile = #{order.receiverMobile,jdbcType=VARCHAR},
            </if>
            <if test="order.receiverAddress != null">
                receiver_address = #{order.receiverAddress,jdbcType=VARCHAR},
            </if>
            <if test="order.totalAmount != null">
                total_amount = #{order.totalAmount,jdbcType=INTEGER},
            </if>
            <if test="order.realPayAmount != null">
                real_pay_amount = #{order.realPayAmount,jdbcType=INTEGER},
            </if>
            <if test="order.postAmount != null">
                post_amount = #{order.postAmount,jdbcType=INTEGER},
            </if>
            <if test="order.payMethod != null">
                pay_method = #{order.payMethod,jdbcType=INTEGER},
            </if>
            <if test="order.leftMsg != null">
                left_msg = #{order.leftMsg,jdbcType=VARCHAR},
            </if>
            <if test="order.extend != null">
                extend = #{order.extend,jdbcType=VARCHAR},
            </if>
            <if test="order.isComment != null">
                is_comment = #{order.isComment,jdbcType=INTEGER},
            </if>
            <if test="order.isDelete != null">
                is_delete = #{order.isDelete,jdbcType=INTEGER},
            </if>
            <if test="order.createdTime != null">
                created_time = #{order.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="order.updatedTime != null">
                updated_time = #{order.updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{orderId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>