<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.dao.mapper.ext.UserMapper">

    <select id="selectByUsernameAndPassword" resultMap="com.sciatta.openmall.dao.mapper.mbg.UserMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.dao.mapper.mbg.UserMapper.Base_Column_List"/>
        from users
        where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="selectByUsername" resultMap="com.sciatta.openmall.dao.mapper.mbg.UserMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.dao.mapper.mbg.UserMapper.Base_Column_List"/>
        from users
        where username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>