<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciatta.openmall.item.mapper.ext.ItemParamMapper">

    <select id="selectByItemId" resultMap="com.sciatta.openmall.item.mapper.mbg.ItemParamMapper.BaseResultMap">
        select
        <include refid="com.sciatta.openmall.item.mapper.mbg.ItemParamMapper.Base_Column_List"/>
        from item_params
        where item_id = #{itemId,jdbcType=VARCHAR}
    </select>

</mapper>