server:
  tomcat:
    uri-encoding: UTF-8
  max-http-header-size: 80KB

spring:
  application:
    name: openmall-item-service
  profiles:
    active: dev # 激活环境配置，dev开发环境，test测试环境，prod生产环境
  datasource:
    type: com.zaxxer.hikari.HikariDataSource    # 数据源类型：HikariCP
    driver-class-name: com.mysql.cj.jdbc.Driver # mysql驱动
    hikari:
      connection-timeout: 30000       # 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException，默认：30秒
      minimum-idle: 5                 # 最小连接数
      maximum-pool-size: 20           # 最大连接数
      auto-commit: true               # 自动提交
      idle-timeout: 600000            # 连接超时的最大时长（毫秒），超时则被释放（retired），默认：10分钟
      pool-name: DateSourceHikariCP   # 连接池名字
      max-lifetime: 1800000           # 连接的生命时长（毫秒），超时而且没被使用则被释放（retired），默认：30分钟
      connection-test-query: SELECT 1
  servlet:
    multipart:
      max-file-size: 512000     # 文件上传大小限制为500kb
      max-request-size: 512000  # 请求大小限制为500kb

mybatis:
  type-aliases-package: com.sciatta.openmall.item.pojo.po.mbg         # 所有POJO类所在包路径
  mapper-locations: classpath*:mapper/**/*.xml                        # mapper映射文件

pagehelper: # 分页插件配置
  helperDialect: mysql
  supportMethodsArguments: true

openmall:
  sid: 336b56d13f7744e98ebe4bca03f8aa40
  log:
    # 日志格式化输出
    # %d 日期
    # %thread 线程名
    # %-5level level从左显示5个字符宽度
    # %logger{50} Class的完全限定名称，数字表示限制字符长度
    # %msg 日志消息
    # %n 表示换行符
    pattern: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{50} - %msg%n"
    # 日志文件保留天数
    max-history: 60
    # 日志文件最大文件大小
    max-file-size: 100MB

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:20000/eureka/
    registry-fetch-interval-seconds: 3  # 默认30s刷新缓存